# Supabase Config
VITE_SUPABASE_URL=https://rlkrrgqmfxwjtoktdskv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJsa3JyZ3FtZnh3anRva3Rkc2t2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM0MDczMjIsImV4cCI6MjA4ODk4MzMyMn0.SgDPS2-N4nOnFCq4BS6Y4L4vruHbLNon345GAg5jGoo
